<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page - megamart</title>
</head>
<body>
    <h1>About us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae minima totam accusamus esse explicabo ea numquam perferendis deserunt natus dolores corporis eum nobis necessitatibus, cupiditate similique veniam rerum impedit labore!</p>

    <h1>why choose us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim laudantium dignissimos earum sit eaque magni id sequi nostrum inventore voluptate aperiam minus aspernatur amet fugit placeat delectus pariatur, ea suscipit?
    Optio deserunt voluptatibus tempore necessitatibus quisquam soluta itaque sapiente dolor suscipit unde nihil ipsam nostrum ducimus molestias dolore expedita sit architecto, nesciunt laudantium amet pariatur? Quaerat laborum debitis ullam minima?
    Eligendi tenetur sapiente magni temporibus, itaque tempore. Illum fugit error eos sequi, placeat atque delectus, doloremque, optio quod consequatur culpa. Facilis possimus iure temporibus nobis repellendus aliquam, distinctio ut esse!</p>
</body>
</html>