<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page - megamart</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/about.css'%}">  
</head>
<body>
    <h1>About us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae minima totam accusamus esse explicabo ea numquam perferendis deserunt natus dolores corporis eum nobis necessitatibus, cupiditate similique veniam rerum impedit labore!</p>


    <img src="{% static 'images/watch1.png'%}" alt="">

    <h1>Why Choose Us ?</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim laudantium dignissimos earum sit eaque magni id sequi nostrum inventore voluptate aperiam minus aspernatur amet fugit placeat delectus pariatur, ea suscipit?
    Optio deserunt voluptatibus tempore necessitatibus quisquam soluta itaque sapiente dolor suscipit unde nihil ipsam nostrum ducimus molestias dolore expedita sit architecto, nesciunt laudantium amet pariatur? Quaerat laborum debitis ullam minima?
    Eligendi tenetur sapiente magni temporibus, itaque tempore. Illum fugit error eos sequi, placeat atque delectus, doloremque, optio quod consequatur culpa. Facilis possimus iure temporibus nobis repellendus aliquam, distinctio ut esse!</p>
<div>
    <h2>Better prices</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam totam voluptates temporibus nulla non! Ea, a cupiditate totam suscipit doloribus quos odit, dolore dolorem tempora eveniet est quibusdam quae repellat.
    Dolorum omnis, excepturi iste quidem enim rem adipisci quae, expedita itaque harum sint distinctio. Fuga veniam aspernatur ea doloremque amet aliquid esse ullam odit alias earum laborum, nostrum totam eos!</p>
    <div id="main">
        <h1>Wide Selection</h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio deleniti illo sunt nam alias quam quos! Corrupti illo molestiae eaque quasi nobis fugiat similique et rem quis porro, aut sit?
        Nostrum ducimus, consequatur unde reiciendis asperiores fugiat magni ut error numquam distinctio itaque officia! Dolores molestias, tempore vitae doloremque neque ullam commodi fugit! Consectetur est et veritatis minus velit necessitatibus.</p>

    </div>
</div>
</body>
</html>