<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Megamart</title>
</head>
<body>
    <h1>Welcome to Megamart</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, dolor reiciendis et consequatur iure animi delectus porro velit qui, aliquam corporis iusto pariatur repellendus accusantium explicabo, sint officiis. Tempore, deleniti!</p>
    
</body>
</html>