<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product page</title>
</head>
<body>
    <h1>product inventory</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam porro itaque vel, officia aut incidunt dolor vero! Amet corrupti repudiandae esse veritatis enim ea pariatur vel! Delectus quos suscipit blanditiis laborum fugit recusandae voluptates possimus. Cupiditate perferendis officia aperiam provident, tempore ex? Veritatis ab adipisci voluptas natus quae aperiam error ipsum sapiente doloremque mollitia atque necessitatibus nihil aliquid odit facere voluptate corporis est fugiat unde, non ducimus quia minus sint dolores. Nihil, iure! Expedita eius nobis quibusdam placeat molestias reprehenderit ducimus eum?</p>
</body>
</html>